.margin-bottom {
    margin-bottom: 0px;
}
.bg-cloud{
    background-color: #ECF0F1;
}
.bg-silver{
    background-color: #BDC3C7;
}
.padding-20{
    padding: 100px 20px 20px 20px;
}
.padding-10{
    padding: 10px;
    margin-bottom: 10px;
}
.margin-10{
    margin: 10px;
}
.margin-bottom{
    margin-bottom: 10px;
}